<h1>Add User</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div>
    <label for="firstName">First Name: </label>
    <input
      type="text"
      id="firstName"
      ngModel
      name="firstName"
      required>
    <br>
    <label for="lastName">Last Name: </label>
    <input
      type="text"
      id="lastName"
      ngModel
      name="lastName"
      required
      #lastName="ngModel">
    <span
      *ngIf="!lastName.valid && lastName.touched">
      Please enter your last name!
    </span>
    <br>
    <label for="age">Age: </label>
    <input
      type="number"
      id="age"
      ngModel
      name="age"
      required
      pattern="^[1-9]+[0-9]*$">
    <br>
    <button
      type="submit"
      [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}
    </button>
    <button type="button" (click)="onClear()">Clear</button>
    <button
      type="button" (click)="onDelete()"
      *ngIf="editMode">Delete</button>
  </div>
</form>

